/* CSS by STUDIO7DESIGNS*/
html, body {
    margin: 0px auto;
    padding: 0px;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
    font-style: normal;
    line-height: 18px;
    font-weight: bold;
    font-variant: normal;
    text-transform: none;
    color: #929291;
    text-decoration: none;
    background-color: #FFF;
}

input {
    font-size: 11px;
}

a {
    color: #4E69B4;
    text-decoration: none;
}

.main {
    width: 860px;
    height: auto;
    margin: 0px auto;
    padding: 0px;
}

.header {
    background: url(images/body-top-bg.gif) center top no-repeat #FFF;
    height: 62px;
    margin: 0 auto;
    padding: 0px;
    width: 850px;
    padding: 7px 10px 0px 0px;
}

.header-top {
    width: 850px;
    height: 22px;
    padding-bottom: 9px;
    text-align: right;
}

.login-bg {
    width: 122px;
    height: 22px;
    background: url(images/login-bg.gif) left top no-repeat;
    text-align: center;
    color: #FFF;
    float: right;
}

.search-box {
    width: 130px;
    height: 22px;
    float: left;
    padding-left: 598px;
    text-align: left;
}

.search-input {
    border: none;
    background: url(images/search-bg.gif) left center no-repeat;
    height: 18px;
    width: 117px;
    padding-left: 4px;
    line-height: 18px;
}

.header-bottom {
    height: 31px;
    padding-left: 166px;
    text-align: left;
}

/* CSS Menu */
#navcontainer {
    margin: 0px;
    padding: 0;
    height: 31px;
}

#navcontainer ul {
    border: 0;
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-align: center;
}

#navcontainer ul li {
    display: block;
    float: left;
    text-align: center;
    padding: 0;
    margin: 0;
    background: url(images/menu-normal-bg.gif) center center no-repeat;
    height: 31px;
}

#navcontainer ul li a {
    background: url(images/menu-normal-bg.gif) center center no-repeat;
    width: 83px;
    height: 31px;
    padding: 0px;
    margin: 0px;
    color: #FFF;
    text-decoration: none;
    display: block;
    text-align: center;
    font: bold 14px/30px Arial, Helvetica, sans-serif;
}

#navcontainer ul li a:hover {
    color: #555;
    background: url(images/menu-hover-bg.gif) center center no-repeat;
    height: 31px;
}

#navcontainer li.active a {
    color: #333;
    background: url(images/menu-active-bg.gif) center center no-repeat;
    height: 31px;
}

.body-main {
    width: 860px;
    height: auto;
    margin: 0px auto;
    text-align: left;
}

.body-top {
    padding-bottom: 20px;
    width: 860px;
    margin: 0px auto;
    height: 426px;
}

.body-left {
    width: 420px;
    height: auto;
    float: left;
    text-align: left;
    background: url(images/logo-bottom.gif) left top no-repeat;
    padding-top: 142px;
}

.left-box {
    width: 408px;
    padding-left: 6px;
    float: left;
    text-align: left;
}

.body-right {
    width: 440px;
    height: auto;
    float: right;
    text-align: left;
}

.blank38 {
    width: 440px;
    height: 38px;
}

.body-right1 {
    width: 425px;
    height: auto;
    float: right;
    text-align: left;
    background: url(images/body-middle-line.gif) left top repeat-y;
    padding-left: 15px;
}

.box {
    border: 6px solid #D3ECFF;
}

.box-title {
    height: 30px;
    border-bottom: 2px solid #D3ECFF;
}

.welcome-inside {
    padding: 6px;
    text-align: left;
}

.fav-project {
    padding: 12px 0px;
    clear: both;
}

.fav-text {
    background: url(images/fav-image.gif) left top no-repeat;
    padding-left: 80px;
    height: 93px;
    text-align: left;
}

.title-16 {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 18px;
    font-style: normal;
    line-height: 28px;
    font-weight: bold;
    font-variant: normal;
    text-transform: none;
    color: #4E69B4;
    text-decoration: none;
    background-color: #FFF;
    padding-left: 8px;
}

.title-14 {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-style: normal;
    line-height: 20px;
    font-weight: bold;
    font-variant: normal;
    text-transform: none;
    color: #4E69B4;
    text-decoration: none;
    background-color: #FFF;
}

.body-bottom {
    background: url(images/body-middle-line.gif) left top repeat-x;
    padding-bottom: 15px;
    width: 860px;
    margin: 0px auto;
    padding-top: 26px;
    height: 200px;
}

.sitename {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    text-align: left;
    float: left;
    color: white;
    padding-left: 10px;
    padding-bottom: 10px;
    margin-bottom: 10px;
    font-size: 14px;
}

.bottom-box1 {
    width: 205px;
    border-right: 1px solid #D1D1D1;
    text-align: left;
    float: left;
    padding-left: 5px;
}

.bottom-box1-inside {
    width: 280px;
    height: auto;
    margin: 0px auto;
}

.selectedRow2 {
  background-color: #ffcc33;
  cursor: pointer;
}

.bottom-box-th {
    background: url(images/image-box-bg.gif) left top no-repeat;
    padding-left: 11px;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-right: 13px;
}

.green-link-box {
    padding: 10px 0px 10px 15px;
}

.read-more {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 13px;
    font-style: normal;
    line-height: 16px;
    font-weight: bold;
    font-variant: normal;
    text-transform: none;
    color: #57B121;
    text-decoration: underline;
    background-color: #FFF;
}

.read-more:hover {
    color: #009933;
    text-decoration: underline;
}

.login-box {
    float: right;
    padding: 10px;
    width: 178px;
    border: 2px solid #D8D8D8;
    background-color: #F6F6F6;
    color: #474747;
    margin-bottom: 10px;
    margin-top: 10px;
}

.login-boxprogbar {
    float: right;
    padding-right: 0;
    padding-left: 20px;
    width: 178px;
    border: 2px solid #D8D8D8;
    background-color: #F6F6F6;
    color: #474747;
}

.input-login {
    width: 190px;
    height: 18px;
    padding-left: 3px;
    background-color: #FFFFFF;
    border: 1px solid #999;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 11px;
    font-style: normal;
    line-height: 18px;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    color: #333;
    text-decoration: none;
}

.footer {
    width: 860px;
    height: 26px;
    margin-top: 10px;
    border-top: 4px solid #CBCBCB;
    border-bottom: 5px solid #FFF;
    background-color: #E8E8E8;
    text-align: center;
    color: #A2A2A2;
    clear: both;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 10px;
    font-style: normal;
    line-height: 26px;
    font-weight: bold;
    font-variant: normal;
    text-transform: none;
    text-decoration: none;
}

.footer-link {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 10px;
    font-style: normal;
    line-height: 26px;
    font-weight: bold;
    font-variant: normal;
    text-transform: none;
    color: #A2A2A2;
    text-decoration: none;
}

.footer-link:hover {
    color: #333;
    text-decoration: underline;
}

.white-link {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 10px;
    font-style: normal;
    line-height: 22px;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    color: #FFF;
    text-decoration: none;
}

.white-link:hover {
    color: #FFF;
    text-decoration: underline;
}

.tables {
    float: left;
    width: 640px; /*background-color: #FFFFFF;*/
    height: 100%
/*border:3px solid #57B121;*/
/*margin:3px;*/
/*padding:3px;*/
}

#loginbar {
    height: 21px;
    text-align: right; /*border-top:3px solid #936107;*/
/*border-left:3px solid #936107;*/
/*border-right:3px solid #936107;*/
/*background-color:#442511; *//*dark brown*/
    margin: 0 auto;
    width: 806px;
    padding: 1px;
}

#heading {
    margin: 0 auto;
    width: 806px;
    height: 75px; /*background-color:#442511; *//*dark brown*/
/*border-left:3px solid #936107;*/
/*border-right:3px solid #936107;*/
/*border-bottom:3px solid #936107;*/
/*color:#D6CE83;    *//*light tan*/
    font-size: 2em;
    vertical-align: text-top;;
    text-align: center;
    padding: 1px;
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
}

#body {
/*background:#555544 url(bg2.gif) repeat scroll 0 0;*/
    background: #2F2E36;
    padding: 0px;
    border: 0px;
    margin: 0px;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
}

#progBar {
    padding-left: 10px;
    height: 650px;
    float: right;
}

#sidestats {
    width: 180px;
    margin-top: 15px;
    margin-bottom: 15px;
    border: 2px solid #a7a665;
    background-color: #442511;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
}

#sideheader {
    border-bottom: 1px solid black;
    font-weight: bold;
    text-align: center; /*font-size : 1.1em;*/
/*color: #333;*/
    color: #57B121;
}

#sidecontent {
    padding-right: 5px;
    padding-left: 5px;
    padding-top: 0px;
    padding-bottom: 0px;
    color: #333;
    font-weight: bold;
}

.sidebarpayment {
    color: #707070;
}

.table {
    float: left;
    width: 100%; /*border:1px solid green;*/
}

.table th {
/*color:#442511;*/
    color: #333333;
    text-align: center;
    /*font-size: .8em;*/
    font-family: "Trebuchet MS", Helvetica, sans-serif;
}

.table .createAccount {
/*color:#442511;*/
    color: #333333;
    text-align: left;
    /*font-size: .8em;*/
    font-family: "Trebuchet MS", Helvetica, sans-serif;
}

.table .tabletext {
    text-align: center;
    font-size: 62.5%;

}

.site-name {
    font-size: 2em;
    font-family: Verdana, Arial, Helvetica, sans-serif; /*font-family: "Trebuchet MS", Helvetica, sans-serif;*/
}

.tables .divider {
    float: left;
    width: 100%;
    height: 1px; /*background-color:#442511;*/
    background-color: #333333;;
    margin-top: 13px;
    margin-bottom: 6px;
}

.innerdivider {
    text-align: center;
    width: 75%;
}

td {
    background-color: #FFFFFF;
}

.input_interest {
    width: 40px;
}

.input_name {
    width: 130px;
}

.input_amount {
    width: 85px;
}

.input_new_interest {
    width: 55px;
}

.input_new_amount {
    width: 120px;
}

.table_max_amount_text {
    width: 60px;
    color: #454545;
    text-align: center;
    /*font-size: .9em;*/
    font-family: "Trebuchet MS", Helvetica, sans-serif;
}

.table_interest {
    text-align: center;
    width: 45px;
}

.table_interest_head {
    /*font-size: .7em;*/
    text-align: center;
    width: 45px;
}

.input_goal {
    width: 105px;
}

.input_spacer {
    width: 118px;
}

img.percentImage {
    background: white url(images/percentImage_back.png) top left no-repeat;
    padding: 0;
    margin: 5px 0 0 0;
    background-position: 1px 0;
}

/*a:link {color:#AB9E2E;}      *//* unvisited link */
/*a:visited {color:#AB9E2E;}  *//* visited link */

/*
  +------------------------------------------------------------------+
  | Green-Beast.com                                                  |
  | MIX: Donations Gauge                                             |
  | Cascading Style Sheet                                            |
  | Copyright May 2006                                               |
  | Use with attribution by visible link please!                     |
  | Attribute to: <a href="http://green-beast.com/">Mike Cherim</a>  |
  +------------------------------------------------------------------+
*/

/* this exists for one reason: the gauge and nogauge message need a home.
   you can stack this box or float it or what have you. all of the other
   elements are relative to the div so the div is all yours */
div#cdg-shell {
/*background-color : #ffffdd;*/
/*background-color : #442511;*/
/*margin : auto;*/
/*width : 180px;*/
/*height : 340px;*/
/*hight: 300px;*/
/*display : block;*/
/*border:2px solid #A7A665;*/
/*border : 1px solid #666;*/
/*overflow : hidden;*/
/*float:right; sas*/
}

/* now we style the inner box when no funds are needed. grab the image
   from: http://mikecherim.com/experiments/images/cdg_no_tmom.gif */
div#cdg-noshell {
/*background : #442511;*/
    width: 100%;
    height: 310px;
    display: block;
}

/* This styles the heading and the positions left both it second line (goal amount) */
h2#cdg_h2, p#cdg_goal {
/*color : #AB9E2E;*/
    font-size: 1.1em;
    padding: 0;
    margin-left: 5px;
}

/* but the styles for the second line need some tweaking */
p#cdg_goal {
/*color : #D6CE83;*/
    font-size: 0.8em;
    font-weight: bold;
    padding-bottom: 2px;
}

/* this holds the thermometer. The heigh of this box is critical to the functionality
   I know, the crosshair is dumb, so shoot me. I like it :p
   Please note: The thermometer body is an embedded image. If you change background
   colors, you'll need to change that image. The opaque portions must stay that way.
   Grab the image from: http://mikecherim.com/experiments/images/cdg_tmom.gif */
div#cdg {
    margin: 0;
    width: 178px;
    height: 300px;
    display: block;
    position: relative;
    font-size: 0.8em;
    border-right: 2px solid #888; /* this sort of "finishes" the embedded image */
}

/* this is the marker and we stick it to the bottom. In-line css margin-bottom is
   adjusted by the script to move the marker... like magic. The background makes
   it cover up the Goal amount line. Using absolute positioning for good not evil */
p#cdg_p {
    position: absolute; /*background-color : #442511;*/
    bottom: 0;
    left: 5px; /*color : #D6CE83;*/
    z-index: 5; /*border-bottom : 1px solid #AB9E2E;*/
}

/* this is so non-visual users will have the data presented to them in a logical
   way not needed by those with the imagery */
p#cdg_p span.blind {
    position: absolute;
    margin-top: -9000px;
    margin-left: -9000px;
}

/* ah, the bold, red right-arrow (&rarr;)
   FYI: The arrow isn't supported by browser < or = to IE 5.5 */
p#cdg_p span.cdg_arw {
/*color : #AB9E2E;*/
    font-weight: bold;
}

/* the mercury... I chose a slightly deeper red. it moves via script
   as well like the marker, using margin-bottom */
div#cdg_m {
    position: absolute;
    bottom: 0;
    right: 0;
    display: block;
    width: 55px;
    background-color: #cd0000;
}

/* I use this to position the image in the lower right to control mercury view */
div#cdg img {
    position: absolute;
    bottom: 0;
    right: 0;
    display: block;
    width: 60px;
    height: 300px;
}

/* this is the no fundraiser text */
p#cdg_no {
    font-size: 0.8em;
    font-weight: bold;
    margin: 20px 15px;
    line-height: 30px; /*color : #D6CE83;*/
}

/* this is the no fundraiser link style (Contact Us) */
p#cdg_no a {
/*color : #D6CE83;*/
}

/* and it hover and focus states */
p#cdg_no a:hover, p#cdg_no a:focus, p#cdg_no a:active {
    text-decoration: none;
    color: #000;
}

/* End Styles */
